<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras - TravelXJujuy</title>
    <link rel="stylesheet" href="/css/stylescarrito.css">
    <link rel="stylesheet" href="/css/normal.css">
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
	<script src="https://kit.fontawesome.com/ca385f949f.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/amulya.css">
</head>
<body>
    <header>
        <h1>TravelXJujuy</h1>
        <nav class="navbar">
			<div class="fila_superior">
				<div class="logo">
					<img src="/images/logo.png" alt="Logo">
				</div>
				<div class="Texto_Logo">
					<p>TravelXJujuy</p>
        <nav>
            <ul>
                <li><a href="/views/home.html">Inicio</a></li>
                <li><a href="#">Paquetes</a></li>
                <li><a href="#">Alojamientos</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="carrito">
            <h2>Carrito de Compras</h2>
            <ul>
                <li>
                    <img src = "/images/pasaje2.jpg" alt="Pasaje a Jujuy">
                    <div>
                        <h3>Pasaje a Jujuy</h3>
                        <p>Precio: $200</p>
                        <button>Eliminar</button>
                    </div>
                </li>
                <li>
                    <img src="/images/hotel.jpg" alt="Hotel en Jujuy">
                    <div>
                        <h3>Hotel en Jujuy</h3>
                        <p>Precio: $100 por noche</p>
                        <button>Eliminar</button>
                    </div>
                </li>
            </ul>
            <div class="total">
                <h3>Total a Pagar:</h3>
                <p>$300</p>
            </div>
            <button class="btn-comprar">Comprar</button>
        </section>
    </main>
    <footer>
        <div class="bloque1">
			<h4>Políticas legales</h4>
			<ul>
				<li>Términos y condiciones</li>
				<li>Ayuda</li>
				<li>Preguntas Frecuentes</li>
			</ul>
		</div>
		<div class="bloque2">
			<h4>Enlaces de interes</h4>
			<ul>
				<li>Servicios Públicos</li>
				<li>Secretaría Turismo</li>
				<li>Organismos Nacionales</li>
			</ul>
		</div>
		<div class="bloque3">
			<h4>Oficinas físicas</h4>
			<ul>
				<li>El alerce 2154 Barrio Carnaval</li>
				<li>0800 - 2555 6000</li>
				<li>Horario corrido de 9 a 13 hs y 18 a 21 hs</li>
			</ul>
		</div>
        <p>&copy; 2024 TravelXJujuy - Todos los derechos reservados</p>
    </footer>
</body>
</html>
