<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <title>TravelXJujuy</title>
</head>
<body>
    <div class="navbar">
        <div id="logo">
            <img src="/images/logo.png" alt="Logo" height="50px">
        </div>
        <a href="/"></a>
        <a href="descubri">Descubrí</a>
        <a href="viaja">Viajá</a>
        <a href="https://www.google.com/">Comentá</a>
		<a href="login2.html"> Iniciar Sesión</a>
      </div>
    
      <div class="contenedor">
		<h1 class="titulo">TravelXJujuy</h1>
		<p class="texto">Muchos lugares por descubrir<br>en una sola provincia</p>
		<a class="boton" href="https://www.google.com/">Visita ahora</a>
		<h2 class="subtitulo">Ciudades de la provincia que te encantaría visitar</h2>
		<div class="imagenes">
			<img class="imagen" src="maimara.jpg" alt="Maimará">
			<img class="imagen" src="termasdereyes.jpg" alt="Termas de Reyes">
			<img class="imagen" src="puna.jpg" alt="Puna">
			<img class="imagen" src="quebrada.jpg" alt="Quebrada">
		</div>
		<p class="texto">Viajá, comentá y descubrí<br>¿Dónde inicia tu nueva travesía?</p>
		<div class="opciones">
			<p class="opcion">Valles</p>
			<p class="opcion">Yungas</p>
			<p class="opcion">Salinas Grandes</p>
		</div>
		<h2 class="subtitulo">Carnaval de las Yungas</h2>
		<a class="boton" href="www.carnavaldeleyungas.com">Más información</a>
	</div>
</body>
</html>
