main{
    width: 90%;
    margin: auto;
}

main > h3{
    color:#36173d;
    font-size: 28px;
    padding: 10px;
    text-align: center;
    font-weight: bold;

}

.cont-product{
    min-width: 307px;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.8);
    background-color: #36173d;
}

.div-img{
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-bottom: solid 5px #ffc55f;
}

.div-img img{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}

.div-detail{
    padding: 10px;
}

.description{
    border-bottom: solid 1px white;

}

.description > h3{
    text-align: center;
    padding-bottom: 10px;
    border-bottom: solid 1px white;
    color: white;
}

.description > p{
    padding: 10px;
    color: white;

}

.cat{
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px white;
}

.tit{
    padding: 5px;
    min-width: 110px;
    height: 100%;
    width: 110px;
    border-right: solid 1px white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tit p{
    font-weight: bold;
    color: white;
}

.desc{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.desc p{
    color: white;
}

.desc p em{
    font-weight: bold;
    font-style: normal;
}

.div-price{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px white;
}

.background-price{
    border:none;
    width: 90%;
    border-radius: 5px;
    background-color: #ffc55f;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-price p{
    color:#36173d;
    font-weight: bold;
    font-size: 20px;
}

.div-price .dollar{
    border-top: solid 1px #36173d;
    margin-top: 10px;
    padding-top: 5px;
    font-weight: lighter;
    font-size: 16px;
}

.div-buttons{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

form > button, .div-buttons a{
    padding: 10px;
    max-width: 120px;
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: #ff4845;
    border: none;
    border-radius: 5px;

}

form > button:hover, .div-buttons a:hover{
    cursor: pointer;
    background-color: #ffc55f;
}

@media (min-width:760px){
    .div-img{
        height: 600px;
    }
}

@media (min-width:1113px){
    main{
        width: 95%;
    }

    .div-img{
        max-height: 600px ;

    }

    .cont-product{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .div-img{
        border:none;
        margin: 0px 20px;
        border-radius: 5px;
        width: 50%;
        border-right: solid 1px white;
        border-radius: 0%;
    }

    .div-img img{
        height: 450px;
        width: 450px;
        border-radius: 10px;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.8);
    }

    .div-detail{
        width: 50%;
        margin-right: 20px;
    }

    .background-price{
        width: 40%;
    }
}