@import url('amulya.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Amulya', sans-serif;
    background-color: #36173D;
    display: block;
    position: relative;
}
.principal{
    height: 750px;
    padding-top: 10px;
    background-image: url('/images/travel-vector.jpg');
    background-repeat: repeat;
    background-size: 700px;
    background-position: center;
}
h1{
    text-align: center;
    margin: 10px;
    color: white;
}
main > h1{
    color:black;
}
.register-form {
    width: 350px;
    margin: 60px auto;
    padding: 30px;
    background-color: #FF4845;
    border-radius: 10px;
}
.register-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #CCC;
}
.register-form button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #36173D;
    font-weight: bold;
    background-color: #FFEC5E;
    transition: all 350ms;
}

.register-form button:hover{
    cursor:pointer;
    background-color: beige;
}
.register-form{
    position: relative;
}

.register-form form label{
    text-align: center;
    display: block;
    margin: 8px;

}
.register-form form label .terminos{
    position: absolute;
    top: 30em;
    left: 10.5em;
    display: block;

}

.cont_errores{
    color:white;
    margin-top: 10px;
    font-size: 15px;
}

.cont-input{
    height: 100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.cont-input > p{
    font-size: 25px;
    text-align: center;
    color: white;
    padding-bottom: 15px ;
}
