<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normal.css">
    <link rel="icon" href="/images/icono.png" type="image/png">
    <link rel="stylesheet" href="/css/style.css">
	<script src="https://kit.fontawesome.com/ca385f949f.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/amulya.css">
    <link rel="stylesheet" href="/css/finish.css">
    <title>TravelXJujuy</title>
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <div class="cont-message">
            <h3>Compra realizada con éxito</h3>
            <p>Gracias por contratarnos, en breve le llegará un mail con diferentes modalidades de pago y un formulario para acordar fecha de salida de la excursión. También se le brindará más detalles de la situación</p>
            <a href="/">Volver</a>
        </div>
    </main>
    <%- include('partials/footer') %>
</body>
</html>     