<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>
<body>
	<%- include('partials/header') %>
    
    <main class="contenedor">
		<h2 class="subtitulo" id="subtitulo1">Ciudades de la provincia que te encantaría visitar</h2>
		<div class="imagenes">
			<article>
				<div class="imagen">
					<a href="/descubri/quebrada"><img src="/images/Maimara.jpg" alt="Maimará"></a>
				</div>
				<div class="article_desc">
					<p>Maimará</p>
				</div>
			</article>

			<article>
				<div class="imagen">
					<a href="/descubri/valles"><img src="/images/TermasReyes.png" alt="Termas de Reyes"></a>
				</div>
				<div class="article_desc">
					<p>Termas de Reyes</p>
				</div>
			</article>
			
			<article>
				<div class="imagen">
					<a href="/descubri/puna"><img src="/images/Salinas-Grandes.png" alt="Salinas Grandes"></a>
				</div>
				<div class="article_desc">
					<p>Salinas Grandes</p>
				</div>
			</article>

			<article>
				<div class="imagen">
					<a href="/descubri/yungas"><img src="/images/Yungas.jpg" alt="Yungas"></a>
				</div>
				<div class="article_desc">
					<p>Yungas</p>
				</div>
			</article>
		</div>

		<p class="texto" id="Text_comentarios">Viajá, comentá y descubrí<br>¿Dónde inicia tu nueva travesía?</p>

		<div class="comentarios">
			<div class="comentario">
				<div class="cabeza">
					<div class="im_comentario">
						<img src="/images/Maria.png" alt="Maria_apolit">
					</div>
					<div class="princ_comentario">
						<h3>Maria_apolit</h3>
						<div class="puntaje">
							<i class="fa-solid fa-briefcase"></i>
							<i class="fa-solid fa-briefcase"></i>
							<i class="fa-solid fa-briefcase"></i>
							<i class="fa-solid fa-briefcase"></i>
							<i class="fa-solid fa-briefcase"></i>
						</div>
					</div>
				</div>
				<div class="descrip">
					<p>Espectacular la visita a este lugar, gracias a las visitas guiadas pude conocer más de la provincia</p>
				</div>
			</div>

			<div class="comentario">
				<div class="cabeza">
					<div class="im_comentario">
						<img src="/images/Carlos.png" alt="CarlosTomel">
					</div>
					<div class="princ_comentario">
						<h3>CarlosTomel</h3>
						<div class="puntaje">
							<i class="fa-solid fa-briefcase"></i>
							<i class="fa-solid fa-briefcase"></i>
							<i class="fa-solid fa-briefcase"></i>
							<i class="fa-solid fa-briefcase"></i>
						</div>
					</div>
				</div>
				<div class="descrip">
					<p>Un estupendo lugar, nada que envidiar solamente el clima no nos acompaño en esta travesía. Lo de más escelente</p>
				</div>
			</div>

			<div class="comentario">
				<div class="cabeza">
					<div class="im_comentario">
						<img src="/images/Rufina.png" alt="Rufina-cop">
					</div>
					<div class="princ_comentario">
						<h3>Rufina-cop</h3>
						<div class="puntaje">
							<i class="fa-solid fa-briefcase"></i>
							<i class="fa-solid fa-briefcase"></i>
							<i class="fa-solid fa-briefcase"></i>
							<i class="fa-solid fa-briefcase"></i>
						</div>
					</div>
				</div>
				<div class="descrip">
					<p>Mi familia quedó encantada por visitar varias localidades de la provincia, sin duda un lugar donde quiero visitar de nuevo es San Pedro de Jujuy.</p>
				</div>
			</div>
		</div>
	</main>

	<%- include('partials/footer') %>
</body>
</html>
