<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/ca385f949f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/stylelogin.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Iniciar Sesión</title>
</head>
<body>
    
    <nav class="navbar">
        <div class="fila_superior">
            <div class="logo">
                <a href="/"><img src="/images/logo.png" alt="Logo"></a>
            </div>
            <div class="Texto_Logo">
                <p>TravelXJujuy</p>
            </div>
        </div>
        <div class="Botones_nav">
            <ul>
                <li class="guiad"><a href="#">Descubrí</a>
                    <ul>
                        <li><a href="/descubri/valles">Valles</a></li>
                        <li><a href="/descubri/quebrada">Quebrada</a></li>
                        <li><a href="/descubri/puna">Puna</a></li>
                        <li><a href="/descubri/yungas">Yungas</a></li>
                    </ul>
                </li>

                <li class="guia"><a href="/producto/listado-productos">Viajá</a></li>
                <li class="guia"><a href="#Text_comentarios">Comentá</a></li>
                <li class="carrito"><a href="/producto/carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>
                <li class="boton_login"><a href="/users/login"> Iniciar Sesión</a></li>
                <li class="boton_register"><a href="/users/register">Registrate</a></li>
            </ul>
        </div>
    </nav>
<!-- Formulario de inicio de sesion -->
        <div class="login-form">
            <div><h1>Iniciar Sesión</h1></div>
            <form action="/users/login" method="post">
                <input type="email" id="email" name="email" placeholder="Correo electrónico" required>
                <input type="password" id="password" name="password" placeholder="Contraseña" required>
                <input type="hidden" name="tipoUsuario" value="user"> <!-- Campo oculto para el tipo de usuario -->
                <button type="submit">Iniciar Sesión</button>
            </form>            
        </div>
        <%- include('partials/footer') %>
</body>
</html>
