<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>
<link rel="stylesheet" href="/css/listado-productos.css">
<body>
	<%- include('partials/header2') %>
    <!-- cards listado -->
    <main>
        <div class="cards">
            <h1>Producto1</h1>
            <img src="/images/" alt="">
            <span>Detalle:</span>
            <p>Destino:</p>
        </div>
        <div class="cards">
            <h1>Producto1</h1>
            <span>Detalle:</span>
            <p>Destino:</p>
        </div>
        <div class="cards">
            <h1>Producto1</h1>
            <span>Detalle:</span>
            <p>Destino:</p>
        </div>
        <div class="cards">
            <h1>Producto1</h1>
            <span>Detalle:</span>
            <p>Destino:</p>
        </div>
    </main>
<!-- footer -->
    <%- include('partials/footer') %>
</body>
