<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>
<link rel="stylesheet" href="/css/listado-productos.css">
<body>
	<%- include('partials/header2') %>
    <!-- cards listado -->
    <main>
        <div class="cards1">
            <h1>Quebrada</h1>
            <img src="/images/Maimara.jpg" alt="Maimará">
            <span>Detalle:</span>
            <p>Precio: $ </p>
            <div><a href="/" class="btn">Agregar al carrito</a></div>
        </div>
        <div class="cards1">
            <h1>Puna</h1>
            <img src="/images/Salinas-Grandes.png" alt="Salinas Grandes">
            <span>Detalle:</span>
            <p>Precio: $ </p>
            <div><a href="/" class="btn">Agregar al carrito</a></div>
        </div>
        <div class="cards1">
            <h1>Yungas</h1>
            <img src="/images/Yungas.jpg" alt="Yungas">
            <span>Detalle:</span>
            <p>Precio: $ </p>
            <div><a href="/" class="btn">Agregar al carrito</a></div>
        </div>
        <div class="cards1">
            <h1>Valles</h1>
            <img src="/images/TermasReyes.png" alt="Termas de Reyes">
            <span>Detalle:</span>
            <p>Precio: $ </p>
            <div><a href="/" class="btn">Agregar al carrito</a></div>
        </div>
    </main>
<!-- footer -->
    <%- include('partials/footer') %>
</body>
