<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>
<link rel="stylesheet" href="/css/listado-productos.css">
<body>
	<%- include('partials/header2') %>
    <!-- cards listado -->
    <main>
        
    </main>
<!-- footer -->
    <%- include('partials/footer') %>
</body>
