<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>
<link rel="stylesheet" href="/css/destinos.css">
<body>
	<%- include('partials/header2') %>

    
    <h1>Nuestro sitio se enfoca en las cuatro regiones de nuestra provincia:</h1>
    <h2>DESCUBRE "LA PUNA"</h2>
    <P>En la región de la Puna, la altitud y la vastedad del paisaje te desafían a explorar un mundo de altiplanos y lagunas de aguas cristalinas. Experimenta la conexión con la naturaleza en su estado más puro mientras te maravillas con la flora y fauna adaptadas a estas alturas. La Puna te ofrece un viaje único a través de paisajes remotos y una serenidad que solo se encuentra en las alturas.</P>
</body>
</html>