<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Puna</title>
</head>
<body>
    <h1>Nuestro sitio se enfoca en las cuatro regiones de nuestra provincia:</h1>
    <h2>DESCUBRE "LA QUEBRADA"</h2>
    <P>Adéntrate en la majestuosa Quebrada de Humahuaca, declarada Patrimonio de la Humanidad. Aquí, las montañas se elevan como guardianes silenciosos mientras te sumerges en la rica historia cultural. Descubre pueblos pintorescos, sitios arqueológicos y colores vibrantes que narran la historia ancestral de la región. Cada rincón de la Quebrada cuenta una historia única.</P>
</body>
</html>