<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/public/css/destinos.css">
    <body>
        <%- include('partials/header2') %>
    
<body>
    <div class="contenedor">
        <img class="imagen" src="/images/Maimara.jpg" alt="maimara">
      </div>
    <h1>Nuestro sitio se enfoca en las cuatro regiones de nuestra provincia:</h1>
    <h2>DESCUBRE "LA QUEBRADA"</h2>
    <P>Adéntrate en la majestuosa Quebrada de Humahuaca, declarada Patrimonio de la Humanidad. Aquí, las montañas se elevan como guardianes silenciosos mientras te sumerges en la rica historia cultural. Descubre pueblos pintorescos, sitios arqueológicos y colores vibrantes que narran la historia ancestral de la región. Cada rincón de la Quebrada cuenta una historia única.</P>
</body>
</html>