<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <title>Registrate</title>
</head>
<h1>Registrate y forma parte de TravelXJujuy</h1>
<body>
<!-- Formulario de registro -->
        <div class="register-form">
            <form action="/register" method="post">
                <input type="text" id="name" name="name" placeholder="Nombre y Apellido" required>
                <input type="email" id="email" name="email" placeholder="Email" required>
                <input type="text" id="username" name="username" placeholder="Usuario" required>
                <input type="password" id="password" name="password" placeholder="Contraseña" required>
                
                <label for="terms">Acepto los términos y condiciones</label>
                <input type="checkbox" id="terms" name="terms" required>
                
                <button type="submit">Registrarse</button>
            </form>
        </div>
    
</body>
</html>