<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/public/css/destinos.css">
    <body>
        <%- include('partials/header2') %>
    
<body>
    <div class="contenedor">
        <img class="imagen" src="/images/TermasReyes.png" alt="valles">
      </div>
    <h1>Nuestro sitio se enfoca en las cuatro regiones de nuestra provincia:</h1>
    <h2>DESCUBRE "LOS VALLES"</h2>
    <P>Los Valles de Jujuy te invitan a explorar pintorescos pueblos. Rodeados de campos cultivados y montañas ondulantes, los Valles ofrecen una experiencia tranquila y auténtica. Descubre la calidez de la gente local, prueba los productos frescos de la región y déjate cautivar por la serenidad de este rincón encantador.</P>
</body>
</html>