<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/public/css/destinos.css">
    <body>
        <%- include('partials/header2') %>
    
<body>
    <div class="contenedor">
        <img class="imagen" src="/images/Yungas.jpg" alt="yungas">
      </div>
      
    <h1>Nuestro sitio se enfoca en las cuatro regiones de nuestra provincia:</h1>
    <h1>EN JUJUY</h1>
    <h2>DESCUBRE "LAS YUNGAS"</h2>
    <P>Sumérgete en la exuberante vegetación de las Yungas, una región donde la selva se encuentra con las montañas. Descubre una biodiversidad única mientras exploras senderos serpenteantes que te llevarán a cascadas ocultas y maravillosas vistas panorámicas. La frescura del clima y la riqueza natural te transportarán a un oasis verde y mágico.</P>
</body>
</html>