<footer>
    <div class="bloque1">
        <h4>Políticas legales</h4>
        <ul>
            <li>Términos y condiciones</li>
            <li>Ayuda</li>
            <li>Preguntas Frecuentes</li>
        </ul>
    </div>
    <div class="bloque2">
        <h4>Enlaces de interes</h4>
        <ul>
            <li>Servicios Públicos</li>
            <li>Secretaría Turismo</li>
            <li>Organismos Nacionales</li>
        </ul>
    </div>
    <div class="bloque3">
        <h4>Oficinas físicas</h4>
        <ul>
            <li>El alerce 2154 Barrio Carnaval</li>
            <li>0800 - 2555 6000</li>
            <li>Horario corrido de 9 a 13 hs y 18 a 21 hs</li>
        </ul>
    </div>
    <div class="bloque4">
        <div class="boton-email">
            <p><a href="https://github.com/artssoria/grupo_5_Capitals">Repositorio</a></p>
        </div>
        <div class="redes">
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-x-twitter"></i>
            <i class="fa-brands fa-square-whatsapp"></i>
        </div>
        <div class="copy">
            <p>© 2024 TravelXJujuy - Todos los derechos reservados</p>
        </div>
    </div>
</footer>