<footer>
    <div class="bloque1">
        <h4>Políticas legales</h4>
        <ul>
            <a href="/Terminos"><li>Términos y condiciones</li></a>
            <a href="/Help"><li>Ayuda</li></a>
            <a href="/Preguntas"><li>Preguntas Frecuentes</li></a>
        </ul>
    </div>
    <div class="bloque2">
        <h4>Enlaces de interes</h4>
        <ul>
            <a href="/Servicios"><li>Servicios Públicos</li></a>
            <a href="/Secretaria"><li>Secretaría Turismo</li></a>
            <a href="/Organismos"><li>Organismos Nacionales</li></a>
        </ul>
    </div>
    <div class="bloque3">
        <h4>Oficinas físicas</h4>
        <ul>
            <li>El alerce 2154 Barrio Carnaval</li>
            <li>0800 - 2555 6000</li>
            <li>Horario corrido de 9 a 13 hs y 18 a 21 hs</li>
        </ul>
    </div>
    <div class="bloque4">
        <div class="boton-email">
            <p><a href="https://github.com/artssoria/grupo_5_Capitals">Repositorio</a></p>
        </div>
        <div class="redes">
            <a href="/instagram"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="/face"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="/x"><i class="fa-brands fa-square-x-twitter"></i></a>
            <a href="/wpp"><i class="fa-brands fa-square-whatsapp"></i></a>
        </div>
        <div class="copy">
            <p>© 2024 TravelXJujuy - Todos los derechos reservados</p>
        </div>
    </div>
</footer>