<header>
    <nav class="navbar">
        <div class="fila_superior">
            <div class="logo">
                <a href="/"><img src="/images/logo.png" alt="Logo"></a>
            </div>
            <div class="Texto_Logo">
                <p>TravelXJujuy</p>
            </div>
        </div>
        <div class="Botones_nav">
            <ul>
                <li class="guiad"><a href="/compra">Descubrí</a>
                    <ul>
                        <li><a href="/descubri/valles">Valles</a></li>
                        <li><a href="/descubri/quebrada">Quebrada</a></li>
                        <li><a href="/descubri/puna">Puna</a></li>
                        <li><a href="/descubri/yungas">Yungas</a></li>
                    </ul>
                </li>

                <li class="guia"><a href="/producto/listado-productos">Viajá</a></li>
                <li class="guia"><a href="#Text_comentarios">Comentá</a></li>
                <li class="carrito"><a href="/producto/carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>
                <li class="boton_login"><a href="/users/login"> Iniciar Sesión</a></li>
                <li class="boton_register"><a href="/users/register">Registrate</a></li>
            </ul>
        </div>
    </nav>
</header>