<header>
    <nav class="navbar">
        <div class="fila_superior">
            <div class="logo">
                <a href="/"><img src="/images/logo.png" alt="Logo"></a>
            </div>
            <div class="Texto_Logo">
                <p>TravelXJujuy</p>
            </div>
        </div>
        <div class="Botones_nav">
            <% if(locals.isLogged){ %>
                <ul>
                    <li class="guia"><a class="descubri" href="/products/list">Comprá</a>
                    </li>
                    <li class="guia"><a href="#Text_comentarios">Comentá</a></li>
                    <li class="carrito"><a href="/producto/carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>
                    <li class="carrito"><a href="/users/profile"><i class="fa-solid fa-gear"></i></i></a></li>
                    <li class="imagen-perfil">
                        <img src="<%=locals.userLogged.profile_img%>" alt="imagen de perfil del usuario <%=locals.userLogged.first_name%>">
                        <p><%=locals.userLogged.first_name%></p>
                    </li>
                    <li class="boton_register"><a href="/users/exit">Salir</a></li>
                </ul>
            <%}else { %>
                <ul>
                    <li class="guiad"><a class="descubri" href="/compra">Descubrí</a>
                        <ul>
                            <li><a href="/descubri/valles">Valles</a></li>
                            <li><a href="/descubri/quebrada">Quebrada</a></li>
                            <li><a href="/descubri/puna">Puna</a></li>
                            <li><a href="/descubri/yungas">Yungas</a></li>
                        </ul>
                    </li>
    
                    <li class="guia"><a href="/producto/listado-productos">Viajá</a></li>
                    <li class="guia"><a href="#Text_comentarios">Comentá</a></li>
                    <li class="carrito"><a href="/producto/carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>
                    <li class="boton_login"><a href="/users/login"> Iniciar Sesión</a></li>
                    <li class="boton_register"><a href="/users/register">Registrate</a></li>
                </ul>
            <%} %>

        </div>
    </nav>
    <%if(locals.isLogged){%>
        <div class="banner1">
            <h2>¿Dónde inicia tu travesía?</h2>
        </div>
    <%}else{%>
        <div class="banner1">
            <h2>¿Dónde inicia tu travesía?</h2>
        </div>
        <div class="banner2">
            <div class="contenedor-titulo">
                <h1 class="titulo">TravelXJujuy</h1>
            </div>
            <div class="contenedor-banner">
                <p class="texto">Muchos lugares por descubrir<br>en una sola provincia</p>
                <a class="boton" href="/producto/listado-productos">Visita ahora</a>
            </div>
        </div>
    <%} %>
    
</header>