<header>
    <nav class="navbar">
        <div class="fila_superior">
            <div class="logo">
                <a href="/admin/panel"><img src="/images/logo.png" alt="Logo"></a>
            </div>
            <div class="Texto_Logo">
                <p>TravelXJujuy</p>
            </div>
        </div>
        <div class="Botones_nav">
            <ul>
                <li class="guia"><a href="/admin/panel">Panel</a></li>
                <li class="carrito"><a href="/users/profile"><i class="fa-solid fa-gear"></i></i></a></li>
                <li class="imagen-perfil">
                    <img src="<%=locals.userLogged.profile_img%>" alt="imagen de perfil del usuario <%=locals.userLogged.first_name%>">
                    <p><%=locals.userLogged.first_name%></p>
                </li>
                <li class="boton_register"><a href="/users/exit">Salir</a></li>
            </ul>
        </div>
    </nav>
</header>