<header>
    <nav class="navbar">
        <div class="fila_superior">
            <div class="logo">
                <a href="/admin/panel"><img src="/images/logo.png" alt="Logo"></a>
            </div>
            <div class="Texto_Logo">
                <p>TravelXJujuy</p>
            </div>
        </div>
        <div class="Botones_nav">
            <ul>
                <li class="guia"><a href="/admin/panel">Volver al panel</a></li>
                <li class="carrito"><a href="/admin/configuracion"><i class="fa-solid fa-gear"></i></i></a></li>
                <li class="boton_login"><a href="/users/login"> Cambiar Usuario</a></li>
                <li class="boton_register"><a href="/">Salir</a></li>
            </ul>
        </div>
    </nav>
</header>